#set(org.snaker.engine.model.WorkModel item)
#set(org.snaker.engine.entity.Process process)
#set(org.snaker.engine.entity.Order order)
#set(org.snaker.engine.entity.Task task)
#set(org.snaker.engine.model.TaskModel taskModel = item)
<html lang="en">
	<head>
		<title>${process.displayName }</title>
		${include("/common/meta.html")}
		<link rel="stylesheet" href="${contextPath}/styles/css/style.css" type="text/css" media="all" />
		<script src="${contextPath}/styles/js/jquery-1.8.3.min.js" type="text/javascript"></script>
		<script src="${contextPath}/styles/js/snaker/snaker.util.js" type="text/javascript"></script>
		<script src="${contextPath}/styles/js/snaker/dialog.js" type="text/javascript"></script>
		<script src="${contextPath}/styles/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
	</head>
	<body>
		<table border="0" width=100% align="center">
    		<tr>
        		<td align="center" class="snaker_title">${process.displayName }
        			<hr width=100% size=2 color="#71B2CF">
        		</td>
    		</tr>
        	<tr>
    			<td align="center" colspan="3">
					<input type="button" value="全部展开" class="button_100px" onclick="expandAll();">&nbsp;&nbsp;
					<input type="button" value="全部折叠" class="button_100px" onclick="collapseAll();">&nbsp;&nbsp;
					<input type="button" value="当前环节" class="button_100px" onclick="currentNode();">&nbsp;&nbsp;
				<br>
				</td>
			</tr>
		</table>
		<!--#if(order)-->
		<table border="0" width=98% align="center" style="margin-top:5">
    		<tr>
        		<td align="left">
        			<font color="blue">编号：</font><font color="#800080">${order.orderNo }</font> &nbsp;
        			<font color="blue">派单时间：</font><font color="#800080">${order.createTime }</font>&nbsp;
				</td>
			</tr>
		</table>
		<!--#end-->
		<!--#foreach(item in works)-->
		<div>
		<table width="100%" border="0" align="center" cellpadding="0" onclick="expandNode('${contextPath }','${item.name }')" 
			ONMOUSEOVER="this.style.cursor = 'hand'" ONMOUSEOUT="this.style.cursor = 'default'" 
				class="table_all_border" cellspacing="0" style="margin-bottom: 0px;border-bottom: 0px">
			<tr>
				<td class="td_table_top" align="left">
					<img id="${item.name }_img" src="${contextPath}/styles/images/${item.name == current ? 'flowopen' : 'flowclose' }.gif">
					${item.displayName }
				</td>
			</tr>
		</table>
		</div>
		<div id="${item.name }_DIV" style="display:${item.name == current || (current == null && foreach.index == 0) ? 'block' : 'none' }">
			<!--#if(item.form)-->
			${include(item.form, ["active": (item.name == current ? '1' : '0')])}
            <!--#elseif(taskModel.fields)-->

            <!--#end-->
		</div>
		<!--#end-->
	</body>
</html>
