#set(org.snaker.engine.entity.Order order)
#set(org.snaker.engine.entity.Task task)
<!--#var(HashMap<String, Object> variable_approveDept)-->
<form id="inputForm" action="${contextPath }/flow/leave/approveDept/save" method="post">
	<input type="hidden" name="orderId" value="${order.id }"/>
	<input type="hidden" name="taskId" value="${task.id }"/>
	<table class="table_all" align="center" border="0" cellpadding="0"
			cellspacing="0" style="margin-top: 0px;margin-bottom: 0px">
		<tr>
			<td class="td_table_1">
				<span>部门经理审批结果：</span>
			</td>
			<td class="td_table_2" colspan="3">
				<input type="radio" name="departmentResult" value="1" checked="checked" onclick="transfer('1')"/>同意
				<input type="radio" name="departmentResult" value="-1" onclick="transfer('-1')"/>不同意
				<input type="radio" name="departmentResult" value="2" onclick="transfer('2')"/>转派
			</td>
		</tr>
		<tr>
			<td class="td_table_1">
				<span>部门经理审批意见：</span>
			</td>
			<td class="td_table_2" colspan="3">
				<textarea class="input_textarea_320" id="departmentDesc" name="approveDept.suggest">${variable_approveDept['approveDept.suggest'] }</textarea>
			</td>
		</tr>
		<tr id="transferDIV" style="display: none">
			<td class="td_table_1">
				<span>转派给：</span>
			</td>
			<td class="td_table_2" colspan="3">
				<input type="hidden" id="nextOperator" name="nextOperator" value="${variable_approveDept['nextOperator'] }">
				<input type="text" id="nextOperatorName" readonly="readonly" name="nextOperatorName" class="input_520" value="${variable_approveDept['nextOperatorName'] }">
				<input type='button' class='button_70px' value='选择部门' id="selectOrgBtn" onclick="selectOrg('${contextPath}', 'nextOperator', 'nextOperatorName')"/>
				<!-- <input type="text" class="input_240" id="nextOperator" name="nextOperator" value="${variable_approveDept['nextOperator'] }"/> -->
			</td>
		</tr>
		<tr>
			<td class="td_table_1"><span>抄送给：</span></td>
			<td class="td_table_2" colspan="3">
				<input type="hidden" id="ccOperator" name="ccOperator" value="${variable_approveDept['ccOperator'] }">
				<input type="text" id="ccOperatorName" readonly="readonly" name="ccOperatorName" class="input_520" value="${variable_approveDept['ccOperatorName'] }">
				<input type='button' class='button_70px' value='选择部门' onclick="selectOrg('${contextPath}', 'ccOperator', 'ccOperatorName')"/>
			</td>
		</tr>
	</table>
	<!--#if(active == '1')-->
	<table align="center" border="0" cellpadding="0" cellspacing="0">
		<tr align="left">
			<td colspan="1">
				<input type="submit" class="button_70px" name="submit" value="提交">&nbsp;&nbsp;
				<input type="button" class="button_70px" name="reback" value="返回" onclick="history.back()">
			</td>
		</tr>
	</table>
	<!--#end-->
</form>
<script type="text/javascript">
	function transfer(flag) {
		if(flag == '2') {
			document.all['transferDIV'].style.display = "block";
		} else {
			document.all['transferDIV'].style.display = "none";
		}
	}
</script>
