#set(org.snaker.engine.entity.Order order)
#set(org.snaker.engine.entity.Task task)
<!--#var(HashMap<String, Object> variable_approveBoss)-->
<form id="inputForm" action="${contextPath }/flow/leave/approveBoss/save" method="post">
	<input type="hidden" name="orderId" value="${order.id }"/>
	<input type="hidden" name="taskId" value="${task.id }"/>
	<table class="table_all" align="center" border="0" cellpadding="0"
			cellspacing="0" style="margin-top: 0px">
		<tr>
			<td class="td_table_1">
				<span>总经理审批结果：</span>
			</td>
			<td class="td_table_2" colspan="3">
				<input type="radio" name="generalResult" value="1" checked="checked"/>同意
				<input type="radio" name="generalResult" value="-1" />不同意
			</td>
		</tr>
		<tr>
			<td class="td_table_1">
				<span>总经理审批意见：</span>
			</td>
			<td class="td_table_2" colspan="3">
				<textarea class="input_textarea_320" id="approveBoss_suggest" name="approveBoss.suggest">${variable_approveBoss['approveBoss.suggest'] }</textarea>
			</td>
		</tr>
	</table>
	<!--#if(active == '1')-->
	<table align="center" border="0" cellpadding="0" cellspacing="0">
		<tr align="left">
			<td colspan="1">
				<input type="submit" class="button_70px" name="submit" value="提交">&nbsp;&nbsp;
				<input type="button" class="button_70px" name="reback" value="返回" onclick="history.back()">
			</td>
		</tr>
	</table>
	<!--#end-->
</form>
