#set(org.snaker.engine.entity.Process process)
#set(org.snaker.engine.entity.Order order)
#set(org.snaker.engine.entity.Task task)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
	<head>
		<title>${process.displayName }</title>
		${include("/common/meta.html")}
		<link rel="stylesheet" href="${contextPath}/styles/css/style.css" type="text/css" media="all" />
		<script src="${contextPath}/styles/js/jquery-1.8.3.min.js" type="text/javascript"></script>
		<script src="${contextPath}/styles/js/snaker/snaker.util.js" type="text/javascript"></script>
		<script src="${contextPath}/styles/js/snaker/dialog.js" type="text/javascript"></script>
		<script src="${contextPath}/styles/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
	</head>
	<body>
		<table border="0" width=100% align="center">
    		<tr>
        		<td align="center" class="snaker_title">${process.displayName }
        			<hr width=100% size=2 color="#71B2CF">
        		</td>
    		</tr>
        	<tr>
    			<td align="center" colspan="3">
					<input type="button" value="全部展开" class="button_100px" onclick="expandAll();">&nbsp;&nbsp;
					<input type="button" value="全部折叠" class="button_100px" onclick="collapseAll();">&nbsp;&nbsp;
					<input type="button" value="当前环节" class="button_100px" onclick="currentNode();">&nbsp;&nbsp;
				<br>
				</td>
			</tr>
		</table>
		<!--#if(order)-->
		<table border="0" width=98% align="center" style="margin-top:5">
    		<tr>
        		<td align="left">
        			<font color="blue">编号：</font><font color="#800080">${order.orderNo }</font> &nbsp;
        			<font color="blue">派单时间：</font><font color="#800080">${order.createTime }</font>&nbsp;
				</td>
			</tr>
		</table>
		<!--#end-->
		<table width="100%" border="0" align="center" cellpadding="0"
				class="table_all_border" cellspacing="0" style="margin-bottom: 0px;border-bottom: 0px">
			<tr>
				<td class="td_table_top" align="left">
					<img id="task1_img" src="${contextPath}/styles/images/flowopen.gif">
					人工任务
				</td>
			</tr>
		</table>
<form id="inputForm" action="${contextPath }/flow/custom/task1/save" method="post">
	<input type="hidden" name="orderId" value="${order.id }"/>
	<input type="hidden" name="taskId" value="${task.id }"/>
	<table align="center" border="0" cellpadding="0" cellspacing="0">
		<tr align="left">
			<td colspan="1">
				<input type="submit" class="button_70px" name="submit" value="提交">&nbsp;&nbsp;
				<input type="button" class="button_70px" name="reback" value="返回" onclick="history.back()">
			</td>
		</tr>
	</table>
</form>
	</body>
</html>